body {
    background: black;
    color: white;
    margin-top: 200px;
    margin-left: 650px;
}

input {
    border: 2px;
    border-radius: 2px;
}

button {
    background: red;
    color: white;
    border: 1px;
    border-radius: 2px;
}

button:hover {
    background: brown;
    color: white;
    border: 1px;
    border-radius: 2px;
}